<table class="table table-striped">
    <thead>
        <tr>
           <th>Brand</th> 
           <th>Model</th>
           <th>Price</th> 
           <th>Location</th> 
           <th>Warehouse</th> 
           <th>Model Year</th> 
           <th>Added Date</th>  
        </tr>
    </thead>
    <tbody>
            <td>{{vehicleDetail.make}}</td>
            <td>{{vehicleDetail.model}}</td>
            <td>{{vehicleDetail.price}}</td>
            <td>{{vehicleDetail.location}}</td>
            <td>{{vehicleDetail.warehouseName}}</td>
            <td>{{vehicleDetail.year_Model}}</td>
            <td>{{vehicleDetail.added_Date}}</td>
    </tbody>
</table>
<button type="button" class="btn btn-outline-success btn-sm float-right" (click)="addtoCart(vehicleDetail)">
    Add to Cart
      </button>
